.text-content {
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    min-height: 530px;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    overflow: visible;
}

.text-content h2 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: radial-gradient(circle at 50% 50%, #c1e3ff, #add9ff);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: translateZ(180px);
    box-shadow: 0 20px 30px rgba(173, 217, 255, 0.4), 0 30px 50px rgba(173, 217, 255, 0.3), 0 40px 70px rgba(173, 217, 255, 0.2), inset 0 -20px 30px rgba(255, 255, 255, 0.3);
    top: calc(40% - 220px);
    left: calc(50% - 200px);
    z-index: 3;
    padding: 12px;
    margin-left: 40px;
    transition: transform 0.3s ease;
    animation: floating 6s ease-in-out infinite;
}

.text-content p {
    text-align: start;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(80px);
    display: flex;
}

.sphere-text {
    color: #3f2b44;
    z-index: 1;
    text-align: start;
    min-width: 140px;
    width: 250px;
    margin-left: 20px;
    margin-top: -55px;
    font-size: 15.5px;
    line-height: 1.3;
    animation: floating 9s ease-in-out infinite;
    padding-left: 5px;
}

.text-content p::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-200px);
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at 50% 50%, #e7d6ff, #d6c4ff);
    border-radius: 50%;
    z-index: 0;
    box-shadow: 0 30px 50px rgba(214, 196, 255, 0.4), 0 40px 70px rgba(214, 196, 255, 0.3), 0 50px 90px rgba(214, 196, 255, 0.2), inset 0 -30px 50px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    animation: floating-sphere 9s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
    .text-content p::before {
        width: 350px;
        height: 350px;
    }

    .sphere-text {
        margin-left: 10px;
        margin-top: -50px;
        font-size: 17px;
    }

    .text-content p {
        top: 44%;
        left: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .text-content p::before {
        width: 425px;
        height: 425px;
    }

    .text-content {
        min-height: 720px;
    }

    .sphere-text {
        margin-left: 60px;
        margin-top: -20px;
        font-size: 18px;
        width: 290px;
    }

    .text-content h2 {
        top: calc(38% - 220px);
    }

    .text-content p {
        top: 47%;
        left: 52%;
    }
}

@media screen and (min-width: 1600px) {
    .text-content p::before {
        width: 500px;
        height: 500px;
    }

    .text-content {
        min-height: 700px;
    }

    .text-content h2 {
        top: calc(35% - 220px);
    }

    .sphere-text {
        margin-left: 100px;
        margin-top: -50px;
        font-size: 20px;
        width: 350px;
    }

    .text-content p {
        top: 48%;
        left: 54%;
    }
}

@keyframes floating {
    0% {
        transform: translateZ(180px) translateY(0);
    }
    50% {
        transform: translateZ(170px) translateY(-9px);
    }
    100% {
        transform: translateZ(180px) translateY(0);
    }
}

@keyframes floating-sphere {
    0% {
        transform: translate(-50%, -50%) translateZ(-200px) translateY(0);
    }
    50% {
        transform: translate(-48%, -48%) translateZ(-200px) translateY(-9px);
    }
    100% {
        transform: translate(-50%, -50%) translateZ(-200px) translateY(0);
    }
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    min-height: 650px;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    overflow: visible;
}

.services-content h2 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: radial-gradient(circle at 50% 50%, #e7d6ff, #dfd2ff);
    border-radius: 50%;
    width: 9vw+75px;
    height: 9vw+75px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translateZ(180px);
    box-shadow: 0 20px 30px rgba(214, 196, 255, 0.4), 0 30px 50px rgba(214, 196, 255, 0.3), 0 40px 70px rgba(214, 196, 255, 0.2), inset 0 -20px 30px rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    margin-bottom: 35px;
    z-index: 3;
    padding: 12px;
    transition: transform 0.3s ease;
    animation: floating 10s ease-in-out infinite;
}

.services-text {
    position: relative;
    text-align: justify;
    max-width: 800px;
    z-index: 1;
    transition: transform 0.5s ease;

}

.services-text p {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.35);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 20px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.8s ease;
}

.services-text p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.8));
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.services-text p.expanded {
    max-height: 3000px;
}

.services-text p.expanded::after {
    opacity: 0;
}

#toggleText {
    background-color: #f2e7ff;
    color: #6b5b95;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    margin-top: -60px;
    margin-left: 28px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#toggleText::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d6c4ff;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

#toggleText:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}

#toggleText:hover::before {
    opacity: 1;
}

#toggleText:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.services-text .before,
.services-text .after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 30px 50px rgba(173, 217, 255, 0.4), 0 40px 70px rgba(173, 217, 255, 0.3), 0 50px 90px rgba(173, 217, 255, 0.2), inset 0 -30px 50px rgba(255, 255, 255, 0.3);
    animation: floating-services 6s ease-in-out infinite;
    pointer-events: none;
}

.services-text .before {
    top: -100px;
    left: -100px;
    background: radial-gradient(circle at 50% 50%, #c1e3ff, #add9ff);
    animation-delay: 0s;
}

.services-text .after {
    bottom: -100px;
    right: -100px;
    background: radial-gradient(circle at 50% 50%, #e7d6ff, #d6c4ff);
    animation-delay: 3s;

}

@keyframes floating-services {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}



#lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 10px;
    width: 10px;
    pointer-events: none;
    overflow: visible;
}

