/* header-footer.css */
/* Styles spécifiques au header */
header {
    list-style-type: none;
    background-color: #a1c0fa;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 3%;
    height: 100px;
    justify-content: space-around;
}

nav {width: 800px;}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li:hover > a {
    background-color: #0056b3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 110px;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* Styles spécifiques au footer */

footer {
    background-color: #a1c0fa;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    flex-shrink: 0;
    height: auto;
}

.footer_container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: center;
    min-width: 200px;
}

.col h4 {
    color: #1e4fa8;
    margin-bottom: 10px;
}

.col ul {
    list-style-type: none;
    padding: 0;
}

.col ul li a {
    color: #333;
    text-decoration: none;
}

.col ul li a:hover {
    color: #0056b3;
}

@media screen and (max-width: 768px) {
    .col {
        flex: 1 1 100%;
    }
}