/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



iframe, header iframe { 
    display: block;
    height: 245px;
    position: absolute;
}

iframe, footer iframe {
    width: 100%;
    display: flex;
    height: 315px;
    transition: height 0.3s ease;
    position: relative;
}

.saut {
    height: 250px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.scroll {
    position: absolute;
    background-color: #0056b3;
    height: 30px;
    width: 30px;
}

.canvas-container {
    position: relative;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
    scrollbar-width: thin; /* Masque la scrollbar pour Firefox */
    -ms-overflow-style: thin; /* Masque la scrollbar pour IE et Edge */
}

#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.element {
    position: absolute;
    display: none;
    z-index: 1;

}

.point-content {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    border-radius: 5px;

}

.point {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.point:hover {
    transform: scale(1.2);
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
    font-weight: 100;
}

.calendar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.control-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #87bae7;
    cursor: pointer;
    transition: color 0.3s ease;
}

.control-btn:hover {
    color: #0056b3;
}

.control-input {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.day {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none; /* Masque la scrollbar pour Firefox */
    -ms-overflow-style: none; /* Masque la scrollbar pour IE et Edge */
}

.day::-webkit-scrollbar {
    display: none; /* Masque la scrollbar pour Chrome, Safari et Opera */
}

.day-name {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 17px;
    color: #000000;
}

.time-slots-container {
    position: relative;
    height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.time-slots-container::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.time-slot {
    background-color: #f2f9ff;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.time-slot:hover {
    background-color: #acbbca;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
    position: relative;
}

.close {
    color: #87bae7;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 500;
}

input, textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: #add9ff;
    color: #444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6b95bb;
}

@media screen and (max-width: 628px) {
    .canvas-container {
        position: relative;
        align-items: center;

    }
}

@media screen and (max-width: 768px) {

    #backgroundCanvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .container {
        padding: 0px;
    }

    .calendar-controls {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .control-btn {
        font-size: 20px;
    }

    .control-input {
        margin: 10px 0;
        width: 100%;
        height:  30px;
    }

    #calendar-container {
        grid-template-columns: repeat(7, calc(100% - 40px));
        grid-auto-flow: column;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0 20px;
        margin-bottom: 10px;
    }

    .day {
        scroll-snap-align: start;
        min-width: 200px;
        margin-right: 10px;
    }

    .day:last-child {
        margin-right: 0;
    }

    .time-slots-container {
        height: 250px;
    }

    .modal-content {
        margin: 10% auto;
        width: 90%;
    }

    iframe, footer iframe {
        height: 385px;
        transition: height 0.3s ease;
        position: relative;
    }
}


/* Style des scrollbars */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1px;
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: #add9FF;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #add9FF rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

scrollbar-button {
    -moz-appearance: none;
    appearance: none;
}